* {
  box-sizing: border-box;
  /* font-family: "Vinted"; */
}

/* @font-face {
  font-family: "Vinted";
  src: url("./assets/fonts/font.woff2") format("woff2");
} */

.navbar {
  height: 10vh;
  border: 3px red solid;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 3px purple solid;
}

/* .container :nth-child(2) {
  height: vh;
} */

.logo-content {
  display: flex;
  width: 10%;
  border: 3px blue solid;
}
button:hover {
  cursor: pointer;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.search-content {
  height: 100%;
  width: 350px;
  display: flex;
  align-items: center;
  border: 3px purple solid;
  justify-content: flex-end;
}

.search-bar {
  display: flex;

  height: 80%;
  width: 80%;
}

.btn-content {
  display: flex;
  width: 40%;
  justify-content: space-around;
  border: 3px blue solid;
  align-items: center;
}

.btn-nav {
  width: 30%;
  height: 70%;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.btn-nav-1 {
  width: 100%;
  height: 100%;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.btn-content > :not(:last-child) {
  background-color: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.nav {
  display: flex;
  width: 100%;
  height: 5vh;
  border: 3px solid green;
  justify-content: center;
}
.nav > div {
  justify-content: flex-start;
}

.nav-link {
  margin-right: 10px;
}

.banner-content {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  border: 3px solid lightcoral;
}
/* .banner-content > .container {
} */

.banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
  background-image: url("./assets/img/banner.png");
  justify-content: flex-start !important;
  background-repeat: no-repeat;
}

.banner-desc {
  position: relative;
  top: 10vh;

  background-color: white;
  width: 410px;
  height: 270px;
  padding: 20px;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: center;
}

.btn-banner {
  width: 50%;
  height: 8vh;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.offers-content {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  flex-wrap: wrap;
}
.offer-content {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 3px solid lightpink;
  justify-content: center;
}

.offer-list {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  border: 3px solid green;
  flex-wrap: wrap;
  flex: 3;

  justify-content: space-around;
}

.offer-link {
  text-decoration: none;
  color: black;
}

.offer {
  border: 3px solid red;
  width: 350px;
  height: 80vh;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.offer-owner {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 5vh;
  border: 3px solid green;
}

.offer-img {
  display: flex;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border: 3px solid purple;
  height: 65vh;
}

.offer-desc {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid blue;
  height: 10vh;
  margin: 0;
}

.offer-desc > div {
  width: 100%;
}

.login-form {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100vh;
}

.offer-page {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
  height: 90vh;
  border: 3px red solid;
  justify-content: center;
}

.offer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  gap: 10vh;
  height: 100%;
}

.offer-img-product {
  width: 60vh;
  height: 75vh;
}

.offer-desc-product {
  padding: 20px;
  background-color: white;
  border: 1px red solid;
  width: 60vh;
  height: 75vh;
}
