* {
  box-sizing: border-box;
  /* font-family: "Vinted"; */
}

/* @font-face {
  font-family: "Vinted";
  src: url("./assets/fonts/font.woff2") format("woff2");
} */

.navbar {
  height: 10vh;
  border: 3px red solid;
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border: 3px purple solid;
}

/* .container :nth-child(2) {
  height: vh;
} */

.logo-content {
  display: flex;
  width: 10%;
  border: 3px blue solid;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-content {
  display: flex;
  width: 40%;
  justify-content: space-around;
  border: 3px blue solid;
  align-items: center;
}

.btn-nav {
  width: 30%;
  height: 70%;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.btn-content > :not(:last-child) {
  background-color: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.nav {
  display: flex;
  width: 100%;
  border: 3px solid green;
  justify-content: center;
}
.nav > div {
  justify-content: flex-start;
}

.nav-link {
  margin-right: 10px;
}

.banner-content {
  width: 100%;
  height: 70vh;
  border: 3px solid lightcoral;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-size: cover;
  background-position: center center;
  background-image: url("./assets/img/banner.png");

  background-repeat: no-repeat;
}

.banner-desc {
  position: relative;
  top: 10vh;

  background-color: white;
  width: 410px;
  height: 270px;
  padding: 20px;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: center;
}

.btn-banner {
  width: 50%;
  height: 8vh;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.offers-content {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  flex-wrap: wrap;
}

.offer-content {
  display: flex;
  box-sizing: border-box;
  height: 30vh;
  border: 3px solid orange;
  flex-wrap: wrap;
  flex: 3;
}

.offer-img {
  display: flex;
}
