* {
  box-sizing: border-box;
  /* font-family: "Vinted"; */
}

/* @font-face {
  font-family: "Vinted";
  src: url("./assets/fonts/font.woff2") format("woff2");
} */

.navbar {
  height: 100%;
  border: 3px lightseagreen solid;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbarcontainer {
  display: flex;
  width: 85%;
  height: 17vh;
  border: 3px lightcoral solid;
}

.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  border: 3px purple solid;
}

.navbar > .container {
  display: flex;
  flex-direction: column;
}

.logo-content {
  display: flex;
  width: 10%;
  height: 100%;
  border: 3px red solid;
  align-items: center;
  justify-content: flex-start;
}

button:hover {
  cursor: pointer;
}

.logo-link {
  width: 90%;
  height: 60%;
  border: 3px orange solid;
  box-sizing: border-box;
  object-fit: contain;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navbar-search-filters {
  border: 3px yellow solid;
  height: 100%;
  width: 55%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-content {
  display: flex;
  width: 35%;
  justify-content: space-around;
  border: 3px blue solid;
  align-items: center;
}

.search-content {
  height: 40%;
  width: 95%;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border: 3px green solid;
  gap: 10px;
  justify-content: center;
}

input:focus {
  outline: none;
}

.search-bar {
  display: flex;
  background-color: #f2f2f2;
  height: 90%;
  width: 90%;
  border: none;
}

.filters {
  height: 60%;
  width: 95%;
  padding: 0 5px;
  gap: 5px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  white-space: nowrap;
  border: 3px brown solid;

  justify-content: space-between;
}

.navbar-toggle-price {
  border: 3px red solid;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
}

.navbar-texte-range {
  display: flex;
  align-items: center;
  border: 3px yellow solid;
  height: 100%;
  width: 15%;
}

.navbar-range {
  width: 65%;

  border: 3px green solid;
}

.navbar-range-filter {
  display: flex;

  height: 10px;

  background-color: #2cb1ba;
}

.btn-login-signup-content {
  width: 60%;
  height: 100%;
  display: flex;
  border: 3px red solid;
}

.btn-login-signup {
  border: 3px orange solid;
  width: 50%;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.btn-signup,
.btn-login {
  width: 100%;
  height: 30%;
  background-color: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  text-decoration: none;
}

.btn-sell-content {
  border: 3px red solid;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}

.btn-sell {
  width: 100%;
  height: 30%;

  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.banner-content {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  border: 3px solid lightcoral;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("./assets/img/banner.png");
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: flex-start !important;
}

.banner-desc {
  position: relative;
  top: 10vh;

  background-color: white;
  width: 410px;
  height: 270px;
  padding: 20px;
  border-radius: 10px;
}

.banner {
  display: flex;
  justify-content: center;
}

.btn-banner {
  width: 50%;
  height: 8vh;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
}

.offers-content {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  flex-wrap: wrap;
}
.offer-content {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 3px solid lightpink;
  justify-content: center;
}

.img-owner {
  width: 3.5vh;
  height: 3.5vh;
  margin-right: 10px;
  border-radius: 50%;
}

.offer-list {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  border: 3px solid green;
  flex-wrap: wrap;
  flex: 3;

  justify-content: space-around;
}

.offer-link {
  text-decoration: none;
  color: black;
}

.offer {
  border: 3px solid red;
  width: 250px;
  height: 70vh;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.offer-owner {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  height: 5vh;
  border: 3px solid green;
}

.offer-img {
  display: flex;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border: 3px solid purple;
  height: 49vh;
}

.offer p {
  display: flex;
}
.offer-desc {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid blue;
  height: 10vh;
}

.offer-desc > div {
  width: 100%;
}

.login-form {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100vh;
}

.offer-page {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
  height: 90vh;
  border: 3px red solid;
  justify-content: center;
}

.offer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  gap: 10vh;
  height: 100%;
}

.offer-img-product {
  width: 60vh;
  height: 75vh;
}

.offer-content-product {
  padding: 20px;
  background-color: white;
  border: 1px red solid;
  width: 60vh;
  height: 75vh;
}

.offer-desc-product {
  border-bottom: 2px solid #f2f2f2;
  width: 100%;
  padding-bottom: 20px;
}

.offer-img-owner {
  width: 7vh;
  height: 7vh;
  margin-right: 10px;
  border-radius: 50%;
}

.offer-owner {
  display: flex;
  height: 10vh;
  border: 1px orange solid;
}

.offer-buy {
  display: flex;
  height: 10vh;
  border: 1px blue solid;
  align-items: center;
}

.offer-btn-sell {
  width: 100%;
  height: 60%;

  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 1em;
}

.pagination-content {
  display: flex;
  justify-content: center;
}
.pagination-content > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-paginate {
  width: 15%;
  height: 40px;

  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 1em;
}

.publish-page {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.container-publish {
  display: flex;
  justify-content: center;
  width: 85%;
  border: 2px purple solid;
}

.publish-form {
  display: flex;
  height: 80%;
  width: 60%;
  border: 3px red solid;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
